* {box-sizing: border-box;}
.omg{
  height: 200px;
}
.cont{
  height: 400px;
}
.divm{
  width: 200px;
  height: 200px;
  background: green;
  border: 2px solid rgb(142, 179, 142);
}
.padre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.rowPropia{
  background-color: greenyellow;
}
.colPropia{
  width: 200px;
  height: 200px;
}
.punto{
  width: 50px;
  height: 50px;
  background-color: honeydew;
  border-radius: 50%;
}